
body {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
* {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.container {
  width: 1110px;
  margin : 0 auto;
}
.headerBackground {
  background-image: url(./img/headerBack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:300% ;
  height: 440px;
}
.headerSearch {
  display: flex;
  align-items: flex-end;
}
.PresentIcon {
  margin-right: 30px;
  width: 60px;
  height: 60px;
}
.headerSearchBox {
  margin-top: 40px;
  border: 3px solid #000000;
  border-radius: 51px;
  height: 40px;
  padding: 8px;
  width: 600px;
  display: flex;
  align-items: center;
}
.headerSearchInput {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.headerSearchInput::placeholder {
  color: #000000;
}
.searchIcon {
  width: 24px;
  height: 24px;
}
.headerWrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 300%;
  background-color: #0c41cb;
}
.headerNavWrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerZag {
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: #fcfcfc;
}
.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLi {
  font-style: italic;
  cursor: pointer;
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #fcfcfc;
  margin-right: 80px;
}
.headerLi:last-child {
  margin-right: 0;
}
.intro {
  width: 100%;
  background-color: #f5f5f5;
}
.introIcon {
  width: 200px;
  height: 200px;
  margin-right: 60px;
}
.introWrapp {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.introTitle {
  width: 520px;
  font-style: italic;
}
.itemsZag {
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}
.menu {
  padding: 20px;
  width: 300%;
  background-color: #0c41cb;
}
.menuZag {
  font-style: italic;
  text-align: center;
}
.caruselBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}
.menuImg {
  width: 200px;
  height: 200px;
}
.itemWrapp {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 20px;
}
.itemImg {
  width: 350px;
  height: 200px;
  object-fit: cover;
}
.itemTextBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.iconBox {
  display: flex;
  align-items: center;
}
.itemIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
}
.itemIcon:last-child {
  margin-right: 0;
}
.sectionBackground {
  background-color: #f5f5f5;
}
footer {
  padding: 80px;
  width: 300%;
  background-color: #0c41cb;
}
.footerBox {
  display: flex;
  justify-content: space-between;
}
.footerInfoBlock {
  display: flex;
  flex-direction: column;
}
.footerText {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}
@media screen and (max-width:1200px){

}

@media screen and (max-width:998px){
  
}

@media screen and (max-width:768px){
  
}

@media screen and (max-width:576px){
  
}
